/* Your Code Here! */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --primary: #39a9ff;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}
.navTitle{
color: var(--white);
font-size: 20px;
margin: 0;
font-weight: normal;
}

.navContainer{
    padding: var(--s) var(--m);
    background-color: var(--primary) ;
}


html,
body{
    margin:0;
    font-family: "Open Sans", sans-serif;
}

.u-textCenter {
    text-align: center;
}


.avatar {
  width: 100%;
  max-width: 250px;      
  aspect-ratio: 1 / 1;     
  border-radius: 50%;      
  object-fit: cover;    
  display: block;
  margin: 0 auto;      
}
.u-flex{
    display: flex;
}
.subContainer{
    flex-basis:0;
    flex-grow:1;
    
}